/** public **/
html,body{
    /*height:100%;*/
    overflow:hidden;
    overflow-y:auto;
    background-color:#ffffff;
}
td{
    word-wrap:break-word;
    font-size:12px !important;
}
.fl{
    float:left !important;
}
.ui-pg-div .ui-icon{
    display:table;
}
.sample-tabl-box{
}
.none{
    display:none;
}
.ui-jqgrid .ui-jqgrid-labels th{
    text-align:center !important;
}
/** padding **/
.pdlr10{
    padding:0 10px !important;
}
.pdtop5{
    padding-top:5px !important;
}
.pdtop15{
    padding-top:15px !important;
}
.pdbom15{
    padding-bottom:15px !important;
}
.pdlt15{
    padding-left:15px !important;
}
.pdrt15{
    padding-right:15px !important;
}
.pdbom10{
    padding-bottom:10px !important;
}


/** index **/
.navbar .navbar-brand {
    padding: 0;
}
.ace-nav > li {
    border-left: none;
}
.ace-nav > li > a {
    background: #438eb9;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background: #438eb9;
}
.ace-nav > li > a:hover, .ace-nav > li > a:focus, .ace-nav > li.open > a {
    background: #438eb9;
}
.close-item {
    position: relative;
    top: -7px;
    right: -7px;
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    color: #fff;
    background: #dd5a43;
    border-radius: 8px;
}
.main-content.index-content {
    position:absolute;
    left:0;
    right:0;
    top:40px;
    bottom:80px;
    min-height:auto;
}
.index-content .page-content{
    padding:0;
}
.index-content .tab-content{
    height:100%;
    padding:20px 0 0;
    border:0;
    position:relative;
}
.index-content .tabbable{
    width:100%;
    height:100%;
    padding:20px;
}
.index-content .page-content{
    height:100%;
}
.main-container .sidebar{
    position:absolute;
    left:0;
    top:45px;
    bottom:0;
    overflow:hidden;
    overflow-y:auto;
}

/** 日历 **/

[class^="icon-"], [class*=" icon-"] {
    display: inline-block;
    width: 14px;
    height: 14px;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url(../common/bootstrap/img/glyphicons-halflings.png);
    background-position: 14px 14px;
    background-repeat: no-repeat;
    margin-top: 1px;
}
.icon-arrow-left {
    background-position: -240px -96px;
}
.icon-arrow-right {
    background-position: -264px -96px;
}

/** tabel **/

.page-content > .ui-jqgrid{
    width:99% !important;
}
.page-content .ui-jqgrid-pager{
    width:100% !important;
}

.ui-jqgrid .ui-jqgrid-htable th{
    padding:0 !important;
}

.td-input{
    width:100%;
}
.input{
    position:relative;
}
.ui-state-editor{
     background-color:#f5fbe5 !important;
 }
.ui-state-highlight{
    background-color:#E4EFC9 !important;
}
.tables-page{
    padding-bottom:20px;
}
.ui-jqgrid .ui-jqgrid-pager .ui-pg-div  span.ui-icon-funs{
    width:auto;
}
.ui-jqgrid .ui-jqgrid-pager .ui-pg-div  span.ui-icon-funs i{
    font-style:normal;
    font-size:12px;
    color:#000000;
}
.table-error{
    position:relative;
    color:#cc0000;
    font-weight:bold;
}
.table-error:before{
    content:"?";
    width:15px;
    height:15px;
    display:table;
    font-style:normal;
    font-weight:bold;
    color:#ffffff;
    background:#cc0000;
    text-align:center;
    line-height:15px;
    position:absolute;
    right:0;
    top:0;
    border-radius:15px;
    cursor:default;
}
.table-error-box{
    width:200px;
    padding:15px;
    background:#ffffff;
    border:1px #d9d9d9 solid \9;
    box-shadow:0 0 2px rgba(0,0,0,.3);
    position:absolute;
    left:-40px;
    top:43px;
    color:#cc0000;
    font-size:12px;
    z-index:1000;
}
.table-error-box:before{
    content:"";
    border-left:8px transparent solid;
    border-right:8px transparent solid;
    border-bottom:8px #d9d9d9 solid;
    position:absolute;
    left:65px;
    top:-8px;
}
.table-error-box:after{
    content:"";
    border-left:8px transparent solid;
    border-right:8px transparent solid;
    border-bottom:8px #ffffff solid;
    position:absolute;
    left:65px;
    top:-6px;
}
.no-padding{
    padding-right:20px !important;
}
.page-content{
    padding:0;
}

#grid-table td{
    position:relative;
    overflow: inherit;
    background-clip: padding-box;
}

.EditTable{
    background:none;
    border:0;
}
.ui-jqdialog-content .FormData{
    border:0;
}
.ui-jqgrid tr.ui-row-ltr td, .ui-jqgrid tr.ui-row-rtl td{
    padding:1px 5px;
}
.ui-jqgrid .ui-jqgrid-bdiv{
    border:0;
    overflow:inherit;
}
.ui-jqgrid .ui-jqgrid-hdiv{
    background:none !important;
}
.ui-jqgrid tr.jqgrow td{
    white-space:normal;
}
.ui-jqgrid .ui-jqgrid-pager{
    margin-top:10px !important;
}

/** 表单icon **/
.form-header-top{
    padding:20px 0;
}
.form-header-top .ui-pg-div{
    float:left;
}
.form-header-top .ui-icon{
    width:auto;
    padding:0 10px;
}
.form-header-top .ui-icon i{
    font-size:14px;
    font-style:normal;
    color:#000000;
    padding-left:5px;
}
.form-header-top .glyphicon:before{
    font-family:inherit;
}
.form-header-top .btn{
    margin-right:15px;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"],.chosen-container-single .chosen-single,.btn,.chosen-container-multi .chosen-choices{
    border-radius:4px !important;
}
.btn{
    border:0 !important;
    padding:6px 15px !important;
    font-size:14px !important;
    line-height:18px !important;
}
.chosen-container-single .chosen-single,.chosen-container-multi .chosen-choices,.chosen-container .chosen-drop{
    border-color:#d5d5d5 !important;
}
.widget-box-bd{
    border:0;
}
.form-group-btn{
    text-align:center;
    padding:0 0 0;
}
.form-group-btn button{
    margin:0 10px;
    font-size:14px;
}
.widget-main{
    padding:0;
}
.row{
    margin:0;
}
.row:after{
    content:'';
    display:table;
    clear:both;
}
.form-group{
    margin-bottom:25px;
}
.form-group-bom-box{
    height: 40px;
}
.form-group-bom{
    width:100%;
    padding-top:20px;
}
.widget-header > .widget-title{
    font-size:20px;
    font-weight:300;
}
.widget-header > .widget-title-h5{
    font-size:16px;
}
.btn .ui-icons{
    display:table;
    line-height:20px;
}
.btn .ui-icons:before{
    font-size:20px;
    font-weight:normal;
}
.btn .ui-icons,.btn .ui-icons i{
    color:#ffffff;
    font-size:14px;
    font-style:normal;
    margin-left:5px;
    font-weight:bolder;
}
.chosen-container-active.chosen-with-drop .chosen-single{
    background:none;
}
.chosen-container .chosen-drop{
    top:97%;
}
.chosen-drop .chosen-search:after{
    display:none !important;
}
.tag-input-style + .chosen-container-multi .chosen-choices li.search-choice{
    padding:3px 20px 3px 5px;;
}
.tag-input-style + .chosen-container-multi .chosen-choices li.search-choice .search-choice-close{
    line-height:22px;
}
.chosen-container-multi .chosen-choices{
    background:none;
}
.chosen-container-multi .chosen-choices:after{
    content: "\f0d7";
    display: inline-block;
    color: #888;
    font-family: FontAwesome;
    font-size: 12px;
    position: absolute;
    top: 5px;
    right: 6px;
}
.form-control{
    height:31px;
}
.img-browse-btn{
    font-size:18px;
    color:#307ecc;
    cursor:pointer;
}
.img-browse-btn-box{
    text-align:center;
}

/** 弹窗表格 **/
#hidden-form,.hidden-form{
    position:fixed;
    left:50px;
    right:50px;
    top:50px;
    bottom:50px;
    border:3px rgba(0,0,0,.5) solid;
    border-radius:5px;
    background:#ffffff;
    display:none;
    z-index:1989101;
}
.hidden-form .ui-jqgrid-htable,.hidden-form .ui-jqgrid-btable,.hidden-form .ui-jqgrid-hbox{
    width:100% !important;
}
#hidden-form .box,.hidden-form .box{
    position:absolute;
    left:10px;
    right:10px;
    top:10px;
    bottom:10px;
    overflow:hidden;
    overflow-y:auto;
}
.hidden-form-title{
    padding:10px;
}
#hidden-form .hidden-bitn,.hidden-pub-close,.hidden-form .hidden-bitn{
    width:20px;
    height:20px;
    border-radius:100%;
    background:rgba(0,0,0,.8);
    color:#ffffff;
    font-size:14px;
    position:absolute;
    right:-10px;
    top:-10px;
    line-height:20px;
    text-align:center;
    z-index:10;
    cursor:pointer;
}
#hidden-form .hidden-title,.hidden-form .hidden-title{
    padding:10px 0;
    overflow:hidden;
}
#hidden-form .hidden-title h5,.hidden-form .hidden-title h5{
    float:left;
}
.hidden-form-box{
    width:100%;
    height:100%;
    position:fixed;
    left:0;
    top:0;
    z-index:1989101;
    background:rgba(0,0,0,.2);
    display:none;
}
.hidden-form-text-box{
    padding:0 18%;
}
.hidden-form .ui-jqgrid-pager,.hidden-form .ui-widget-content{
    width:100% !important;
}
.chosen-select-box{
    position:relative;
}
.chosen-select-box .before{
    width:100%;
    height:30px;
    position:absolute;
    left:0;
    top:0;
    z-index:1000;
}
td .ui-pg-div{
    display:inline-table;
    float:none !important;
}

.select-search-box{
    width:200px;
    height:200px;
    max-height:200px;
    background:#ffffff;
    border:1px #d9d9d9 solid;
    box-shadow:0 0 3px rgba(0,0,0,.3);
    position:absolute;
    left:0;
    top:40px;
    z-index:1000;
}
.white-bc{
    position:relative;
}
.white-bc .widget-toolbar{
    position:absolute;
    right:0;
    top:15px;
}
.line-h{
    display:inline-block;
    width:15px;
    height:16px;
    border-bottom:1px #d9d9d9 solid;
    margin:0 10px;
}

/** 弹层 **/
.eject-text{
    float:left;
    padding:0 10px;
    line-height:30px;
}
.eject-input-box{
    width:150px;
    float:left;
}
.eject-box{
    float:left;
    margin-top:15px;
    padding-left:15px;
}
.tm-line{
    text-align:center;
    line-height:31px;
}
td.iconbutton > div{
    position:relative;
    left:-4px;
}

/** 表格下拉选择 **/
td.select-info{
    position:relative;
}
td.select-info:after{
    content:attr(data-after);
    display:table;
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:10;
    line-height:50px;
    text-align:center;
    color:#000000;
}
td.select-info select{
    position:relative;
    z-index:11;
    width:80px;
    height:30px;
}
.scroll-div-box{
    position:relative;
    z-index:10000;
}
.scroll-div-btn{
    width:100%;
    position:absolute;
    left:0;
    bottom:-30px;
    text-align:center;
    /*display:none;*/
    opacity:0;
    transition:all 0.2s;
    -webkit-transition:all 0.2s;
}
.scroll-div-btn span{
    width:30px;
    height:30px;
    display:inline-block;
    /*line-height:30px;*/
    border-radius:0 0 5px 5px;
    background: #fee088 !important;
    background-image: -webkit-linear-gradient(top, #ffe8a5 0%, #fcd76a 100%) !important;
    background-image: -o-linear-gradient(top, #ffe8a5 0%, #fcd76a 100%) !important;
    background-image: linear-gradient(to bottom, #ffe8a5 0%, #fcd76a 100%) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffe8a5', endColorstr='#fffcd76a', GradientType=0) !important;
    cursor:pointer;
}
.scroll-div-btn span i{
    color:#996633;
    margin-top:8px;
}
.scroll-fixed{
    width:100%;
    position:fixed;
    left:0;
    top:0;
    z-index:10000;
}
span.Validform_checktip{
    position:absolute;
    left:10px;
    bottom:-20px;
    font-size:12px;
    color:#ff0000;
}
.retrieve,.retrieveScroll{
    width:100%;
    max-height:150px;
    border:1px #d9d9d9 solid;
    background:#ffffff;
    overflow:hidden;
    overflow-y:auto;
    position:absolute;
    left:0;
    top:29px;
    z-index:1000000;
}
.retrieve a,.retrieveScroll a{
    display:block;
    padding:5px 10px;
    color:#666666;
}
.retrieve a:hover,.retrieveScroll a:hover{
    color:#000000;
    text-decoration:none;
    background:#f1f1f1;
}
.retrieve a.keycls,.retrieveScroll a.keycls{
    color:#000000;
    text-decoration:none;
    background:#d6f4ff;
}

.form-header-top .btn-success,.form-header-top .btn-success:focus,.form-header-top .btn-danger,.form-header-top .btn-danger:focus{
    background-color: #428bca !important;
    border-color: #428bca;
}
.form-header-top .btn-success:hover,.form-header-top .btn-danger:hover{
    background-color: #1b6aaa !important;
    border-color: #1b6aaa;
}
th input.cbox{
    margin:-5px auto 0;
}
.ui-pager-control table{
    width:100%;
    height:100%;
}
.ui-pager-control > table > tbody > tr > td{
    width:33.33%;
}

.upload-file{
}
.upload-file .tags{
    width:auto;
    height:auto;
    padding:0;
    border-radius:3px;
    border:0;
    display:inline;
}
.upload-file-btn{
    padding-top:10px;
}
.upload-file-btn .file{
    display:none;
}

.widget-toolbar{
    margin-top:10px;
    line-height:1;
}
.widget-toolbar > a{
    line-height:1;
}
input[readonly].date-picker{
    background:#ffffff !important;
}