
.pdlr10{
    padding:0 10px !important;
}

.ui-pg-div .ui-icon{
    display:table;
}
.sample-tabl-box {
    width:100%;
    margin-bottom: 10px;
}
.sample-tabl-box .page-content{
    /*overflow:hidden;*/
    /*overflow-x:auto;*/
    /*padding-bottom:20px;*/
}
table .op-th {
    max-width: 60px;
}
.form-control {
    font-size: 12px;
}
/*tab 切换*/
.nav-list a {
    cursor: pointer;
}

/*表单元素*/
.mgt-7 {
    margin-top: 7px;
}
.mgt-10 {
    margin-top: 10px;
}
.mgr-2 {
    margin-right: 2%;
}
.hg-31 {
    height: 31px;
}
.ta-l {
    text-align: left;
}
.form-horizontal .ta-l-l {
    text-align: left;
}
.bdr-3 {
    border-radius: 3px;
}
.txt-def {
    resize: none;
}
.btn-scroll-up {
    z-index: 120;
}
.header-color-blue {
    color: #fff;
    background: #438EB9;
    border-color: #438EB9;
    margin-bottom:15px;
}
.header-color-blue .ace-icon {
    color: #fff;
}
.widget-toolbar:before {
    border-width: 0;
    border-color: #438EB9;
}
.filter-box .fa-filter {}
.widget-box {
    /*overflow: hidden;*/
    /*padding:0 0 20px;*/
    margin-bottom:20px;
}
textarea.txt-dis {
    color: #848484;
    background: #f5f5f5;
}
.fr {
    float: right;
}
.btn-primary:hover {
    border-color: #1b6aaa;
}
.white-bc {
    background:none;
    padding:10px 0;
    line-height:38px;
    border:0;
    border-top:2px #d9d9d9 solid;
}
.white-bc h5{
    display:block !important;
}
.white-bc .fr{
    float:none !important;
}
.white-c {
    color: #000;
}
.btn-resize {
    padding: 0;
    margin-left: 15px;
    height: 30px;
    line-height: 20px;
}
.fs-12 {
    font-size: 12px;
}
h4.fs-16 {
    font-size: 16px;
}
.input-group .no-pos {
    position: static;
}
.pagination > li > a {
    position: static;
}
.no-mg {
    margin: 0;
}
.modal-header .close {
    font-size: 30px;
    margin-top: -5px;
}
.no-p {
    padding: 0;
}
.ui-jqgrid .ui-jqgrid-hbox {
    padding: 0;
}
.mgt-5 {
	margin-top: 5px;
}
.wd-150 {
	width: 150px;
}
.btn-rgroup {
	padding: 5px;
    float: right;
}
.input-group[class*="col-"].fl {
    float: left;
}
.ta-lh {
    text-align: center;
    line-height: 31px;
}
.mgb-0 {
    margin-bottom: 0;
}
.mgt-0 {
    margin-top: 0;
}
.ui-jqgrid .mgt-0 {
    margin-top: 0!important;
}
.target-link {
    width: 100%;
    height: 100%;
    color: #393939;
}
#dialog-mini {
    position: absolute;
    left: 50%;
    top:50px;
    bottom:50px;
    margin-left: -380px;
    z-index: 1000;
    width: 760px;
    border: 3px rgba(0,0,0,.5) solid;
    border-radius: 5px;
    background: #ffffff;
    display: none;
}
#dialog-mini.dialog-t {
    margin-left: -455px;
    width: 910px;
}
#dialog-mini .box {
    position:absolute;
    left:10px;
    right:10px;
    top:70px;
    bottom:10px;
    overflow:hidden;
    overflow-y:auto;
}
#dialog-mini .hidden-btn {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: rgba(0,0,0,.8);
    color: #ffffff;
    font-size: 14px;
    position: absolute;
    right: -10px;
    top: -10px;
    line-height: 20px;
    text-align: center;
    z-index: 10;
    cursor: pointer;
}
.pd-10 {
    padding: 10px;
}
.act {
    background-color: #f5fbe5 !important;
}
.dialog-mini-shadow {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    background: rgba(0,0,0,.2);
    display: none;
}
.fl {
    float: left;
}
.pdtb-10 {
    padding: 10px 0;
}
.pdtop30 {
    padding-top: 30px;
}
.dialog-com {
    position: absolute;
    left: 50px;
    right: 50px;
    top: 50px;
    bottom: 50px;
    border: 3px rgba(0,0,0,.5) solid;
    border-radius: 5px;
    background: #ffffff;
    display: none;
    z-index: 1989101100;
}
.dialog-com .dialog-cl {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: rgba(0,0,0,.8);
    color: #ffffff;
    font-size: 14px;
    position: absolute;
    right: -10px;
    top: -10px;
    line-height: 20px;
    text-align: center;
    z-index: 10;
    cursor: pointer;
}
.dialog-com .box {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    overflow: hidden;
    overflow-y: auto;
}
.ccc-box {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 45;
    background: rgba(0,0,0,.2);
    display: none;
}
.dialog-ccc {
    position: fixed;
    left: 50px;
    right: 50px;
    top: 50px;
    bottom: 50px;
    border: 3px rgba(0,0,0,.5) solid;
    border-radius: 5px;
    background: #ffffff;
    display: none;
    z-index: 50;
}
.dialog-ccc .dialog-cl {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: rgba(0,0,0,.8);
    color: #ffffff;
    font-size: 14px;
    position: absolute;
    right: -10px;
    top: -10px;
    line-height: 20px;
    text-align: center;
    z-index: 10;
    cursor: pointer;
}
.dialog-ccc .box {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    overflow: hidden;
    overflow-y: auto;
}
.hg-100 {
    height: 100px;
}
.wd-600 {
    width: 600px;
    left: 50%;
    margin-left: -300px;
}
.spe-setting .box {
    top: 70px;
}

/*联动*/
.cascade {
    position: relative;
    margin-top: 1px;
}
.cascade ul {
    list-style: none;
}
.cascade .ca-tabs, .cascade .ca-areas {
    overflow: hidden;
    padding: 0;
    margin: 0;
}
.cascade .ca-tabs {
    position: relative;
    z-index: 100;
    padding-top: 1px;
    width: 148px;
}
.cascade .ca-tab {
    float: left;
    background: #fff;
}
.cascade .ca-tab a, .cascade .ca-area a {
    box-sizing: border-box;
    display: block;
    cursor: pointer;
    font-size: 12px;
    color: #393939;
}
.cascade .ca-tab a {
    padding: 6px 12px;
    margin-left: -1px;
    border: 1px solid #ccc;
}
.cascade .ca-tab.ca-spe a {
    margin-left: 0;
}
.cascade .ca-tab.act a {
    margin-top: -1px;
    border-top-width: 2px;
    border-top-color: #438EB9;
    border-bottom-color: #fff;
}
.cascade .ca-areas {
    position: relative;
    z-index: 99;
    top: -1px;
    border: 1px solid #ccc;
}
.cascade .ca-area {
    overflow: hidden;
    display: none;
    padding: 5px 10px;
}
.cascade .ca-area.act {
    display: block;
}
.cascade .ca-area a {
    float: left;
    padding: 4px;
    margin: 4px 6px 0 0;
}
.cascade .ca-area a:hover {
    color: #fff;
    background: #438EB9;
}
.cascade .ca-area a.act {
    color: #fff;
    background: #438EB9!important;
}
/*new part*/
.cascade .ca-tab a, .cascade .ca-area a {
    text-decoration: none;
}
.cascade .ca-tabs, .cascade .ca-tab, .cascade .ca-area.act {
    background: #fff!important;
}
.cascade {
    width: 350px;
}
.linkage-part {
    padding: 15px 10px;
    width: 550px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}
.btn-parts {
    position: relative;
    top: -10px;
    right: 0;
    width: 240px;
    float: right;
    height: 50px;
    background: red;
}
.box-resize {
    padding: 10px;
    position: relative;
}
.box-resize .form-group {
    padding: 0;
}
.linkage-part a {
    display: inline-block;
    padding: 2px 4px;
    margin: 0 8px 6px 0;
    cursor: default;
    color: #fff;
    background: #438EB9;
    text-decoration: none;
}
.linkage-part a .linkage-close {
    margin-left: 10px;
}
.linkage-btns {
    position: relative;
    top: -30px;
}
.linkage-pos {
    position: relative;
    padding: 5px 10px;
    float: right;
}
.linkage-pos .linkage-info {
    margin: 0 6px;
}
.hd-btn {
    float: right;
    padding: 10px;
}
.hd-btn.ui-pg-div .ui-icon {
    float: left;
    margin-right: 20px;
    width: auto;
}
.hd-btn.ui-pg-div .ui-icon i {
    margin-left: 4px;
    font-size: 12px;
    font-style: normal;
}
.mg-r10 {
    margin-right: 10px;
}
.dialog-extra {
    position: fixed;
    left: 50px;
    right: 50px;
    top: 50px;
    bottom: 50px;
    z-index: 1000;
    border: 3px rgba(0,0,0,.5) solid;
    border-radius: 5px;
    background: #ffffff;
    display: none;
}
.dialog-extra .box {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    overflow: hidden;
    overflow-y: auto;
}
.dialog-extra .extra-btn {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: rgba(0,0,0,.8);
    color: #ffffff;
    font-size: 14px;
    position: absolute;
    right: -10px;
    top: -10px;
    line-height: 20px;
    text-align: center;
    z-index: 10;
    cursor: pointer;
}
.dialog-extra-shadow {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    background: rgba(0,0,0,.2);
    display: none;
}